{% extends "../songs/base.html" %}
{% load widget_tweaks %}
{% block body %}
    <div class="container col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">

        {% if form.errors %}
            <p class="alert alert-danger">Your username and password didn't match. Please try again.</p>
        {% endif %}

        {% if next %}
            {% if user.is_authenticated %}
                <p class="text-warning">
                    Your account doesn't have access to this page. To proceed,
                    please login with an account that has access.
                </p>
            {% else %}
                <p class="alert alert-danger">Please login to see this page: {{ next }}</p>
            {% endif %}
        {% endif %}

        <div class="row justify-content-md-center login_div" >
            <div class ="col-md-8 text-align-center">
                <div class="card" id="login_container">
                    <div class="card-header">
                        <div class="card-title" >
                            <i class="fa fa-user-lock"></i><strong> Log-in</strong>
                        </div>
                    </div>

                    <div class="card-block">
                        <form method="post" action="{% url 'login' %}" class="form-horizontal" role="form">
                            {% csrf_token %}
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1"><i class="fa fa-user"></i></span>
                                </div>
                                {{ form.username|add_class:'form-control'|append_attr:"placeholder:Enter username" }}
                            </div>

                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1"><i class="fa fa-lock"></i></span>
                                </div>
                                {{ form.password|add_class:'form-control'|append_attr:"placeholder:Enter password" }}
                            </div>

                            <button class="btn btn-outline-primary btn-block" id = "btnlogin" type="submit"><span class="fa fa-login"></span>Log-in</button>
                            <a class="btn btn-outline-danger btn-block" id="btncancel" href="{% url 'index' %}">Cancel</a>
                            
                            <input type="hidden" name="next" value="{{ next }}" />
                        </form>
                        <div id="div_oauth" style="color: white;">
                            <br>
                            <h5>or Log-in with</h5>
                            <p>
                                <a href="{% url 'social:begin' 'google-oauth2' %}"><i class="fab fa-google"></i> Google</a>
                                <a href="{% url 'social:begin' 'facebook' %}"><i class="fab fa-facebook"></i> Facebook</a>
                                <a href=""><i class="fab fa-github"></i> Github</a>
                            </p>
                        </div>


                    </div>
                </div>
            </div>
        </div>    
    </div>

{% endblock %}