{% extends 'songs/base.html' %}

{% block body %}
    <div class="container" style="color: white;">
        <br>
        <h3>Change / Forgot password?</h3>
        
        <form method="post">
            {% csrf_token %}
            <!-- {{ form.as_p }} -->
            <label for="id_email">Email:</label>
            <input type="email" placeholder="email address" class="form-control" name="email" maxlength="254" required="" id="id_email">
            <button type="submit" class="btn btn-primary">Submit</button>
            
        </form>
    </div>
{% endblock %}