<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block page_title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% load static %}

        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/fontawesome-free-5.1.0-web/css/all.css' %}" />
        <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'js/script.js' %}"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" />

    </head>
    <body >
        <div class="header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <nav class="navbar navbar-dark bg-dark ">
                            <div>
                                <a class="navbar-brand" id="logo" href="{% url 'index' %}">Songs<i class="fas fa-music"></i><br><p>Database</p></a>
                            </div>
                            {% if user.is_authenticated %}
                                <div class="account">
                                    <span>You are logged-in as: <strong id="strong_username"><a class="user-name" href="{% url 'user_display_profile' user.username %}">{{ user.username }}</a></strong></span>
                                    <a href="{% url 'logout' %}?next={% url 'index' %}" class="btn btn-outline-success my-2 my-sm-0 btnlogout">Log-out</a>
                                </div>

                            {% else %}
                                <div class="login">
                                    <a href="{% url 'login' %}" class="btn btn-outline-success my-2 my-sm-0">Log-in</a>
                                    <a href="{% url 'user_sign_up' %}" class="btn btn-outline-success my-2 my-sm-0">SignUp</a>                    
                                </div>
                            {% endif %}
                        </nav>
                    </div>
                </div>
            </div>
        </div> 

        {% block body %}{% endblock %}

              

        
    </body>
    
</html>