<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block page_title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% load static %}

        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/fontawesome-free-5.1.0-web/css/all.css' %}" />
        <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'js/script.js' %}"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" />

    </head>
    <body >
        <!-- <div class="container" id="main_container">
            <div class="row justify-content-md-center">
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-fixed-top sticky-top" id="header">
                    <a class="navbar-brand" id="logo" href="{% url 'index' %}">Songs<i class="fas fa-music"></i><br><p>Database</p></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item active">
                                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Profile</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Songs</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link disabled" href="#">My Playlists</a>
                            </li>
                        </ul>
                    </div>
                    <div>
                        {% if user.is_authenticated %}
                            <div class="log">
                                <span>You are logged-in as: <strong>{{ user.username }}</strong></span>
                                <a href="{% url 'logout' %}?next={% url 'index' %}" class="btn btn-outline-success my-2 my-sm-0">Log-out</a>
                            </div>
                        {% else %}
                            <div class="login">
                                <a href="{% url 'login' %}" class="btn btn-outline-success my-2 my-sm-0">Log-in</a>
                                <a href="{% url 'user_sign_up' %}" class="btn btn-outline-success my-2 my-sm-0">SignUp</a>
                            </div>
                        {% endif %}
                    </div>
                    <div class="col-md-4 text-center" >
                        <form method="GET" id="form_search_song" action="{% url 'search_song' %}" >
                            {% csrf_token %}
                            <div class="input-group mb-3">
                                <div class="input-group-prepend" id="search">
                                    <span class="input-group-text">
                                        <select class="form-control" id="search_filter" name="search_filter">
                                            <option value="title">Title</option>
                                            <option value="genre">Genre</option>
                                            <option value="album">Album</option>
                                            <option value="artist">Artist</option>
                                        </select>
                                    </span>
                                </div>               
                                <input class="form-control" placeholder="search keyword" name="search_keyword" id="search_keyword" type="text">
                                <div class="input-group-btn input-group-append">
                                    <button class="btn btn-default" id="btn_search" type="submit"><i class="fa fa-search"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </nav>
            </div> 
        </div> -->
        <div class="container-fluid">
            <div class="row" id="navdiv">
                <div class="col-12">
                        <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-fixed-top sticky-top" id="header">
                                <a class="navbar-brand" id="logo" href="{% url 'index' %}">Songs<i class="fas fa-music"></i><br><p>Database</p></a>
                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon"></span>
                                </button>
                                <div class="collapse navbar-collapse" id="navbarNav">
                                    <ul class="navbar-nav">
                                        <li class="nav-item active">
                                            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Profile</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Songs</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link disabled" href="#">My Playlists</a>
                                        </li>
                                    </ul>
                                </div>
                                <div>
                                    {% if user.is_authenticated %}
                                        <div class="log">
                                            <span>You are logged-in as: <strong>{{ user.username }}</strong></span>
                                            <a href="{% url 'logout' %}?next={% url 'index' %}" class="btn btn-outline-success my-2 my-sm-0">Log-out</a>
                                        </div>
                                    {% else %}
                                        <div class="login">
                                            <a href="{% url 'login' %}" class="btn btn-outline-success my-2 my-sm-0">Log-in</a>
                                            <a href="{% url 'user_sign_up' %}" class="btn btn-outline-success my-2 my-sm-0">SignUp</a>
                                        </div>
                                    {% endif %}
                                </div>
                            </nav>
                </div>  
            </div> 
        </div>
        {% block body %}{% endblock %}

        {%  include "songs/player.html" %}        
    </body>
</html>