{% extends "songs/base.html" %}

{% block page_title %}
    {{ genre }} | Songs
{% endblock %}

{% block body %}

    <div class="container">
        <p class="alert alert-info">Genre: <strong>{{ genre }}</strong></p>

        <table class="table">
            <tr>
                <th></th>
                <th colspan="2">Actions</th>
                <th>Title</th>
                <th>Artist</th>
                <th>Album</th>

                
            </tr>
            <tbody id="tbody_songs">
                {% for song in songs %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td title="play">
                            <i id="song_{{ song.id }}" onclick="play_song('{{ song.id }}', '{{ song.path }}', '{{ song.title }}', '{{ song.album }}', '{{ song.genre }}', '{{ song.album.artist }}')" style="cursor: pointer;" class="fa fa-play-circle"></i>
                        </td>
                        <td title="download">
                            <form id="form_song_download" method="GET" action="{% url 'download_song' %}">
                                <input type="hidden" name="path" value="{{ song.path }}" />
                                <i onclick="document.getElementById('form_song_download').submit();" style="cursor: pointer;" class="fa fa-download"></i>                            
                            </form>
                        <td>{{ song }}</td>
                        <td>{{ song.album.artist }}</td>
                        <td>{{ song.album }}</td>
                    </tr>
                {% empty %}
                    <tr><td colspan="5" class="alert alert-warning">No available songs for this genre.</td></tr>
                {% endfor %}
            </tbody>
        </table>
        <hr>
        <a href="javascript:window.history.back()">&lt;&lt; Back</a>
    </div>
{% endblock %}