{% extends "songs/base.html" %}

{% block page_title %}
    {{ genre }} | Songs
{% endblock %}

{% block body %}

<div class="container-fluid"> 
    {% include "songs/search.html" %}

    <div class="row justify-content-md-center">
        
        {% if user.is_authenticated %}
            <div class="col-md-3">
                {% include "songs/display_playlist.html" %}
            </div>
        {% endif %}

        <div class="col-8">
            <br>
            <div id="genre_container">
                <h3 class="alert alert-info">Genre: <strong>{{ genre }}</strong></h3>
                {% include "songs/songs.html" %}
                <hr>
                <a href="javascript:window.history.back()" class="backbtn">&lt;&lt; Back</a>
            </div>
        </div>
    </div>
</div>
    
{% endblock %}