{% extends "songs/base.html" %}

{% block page_title %}
    Songs DB
{% endblock %}

{% block body %}
    <div class="container-fluid" id="main_container" >
        {% include "songs/search.html" %}       

        <div class="row justify-content-md-center">
            {% if user.is_authenticated %}
                <div class="col-md-3">
                    {% include "songs/display_playlist.html" %}
                </div>
            {% endif %}

            <div class="col-8">
                <br>
                <div class="row justify-content-md-center">
                    {% for genre in genres %}
                        <div class="col-md-3 text-center" id="genrestyle" >
                            <a href="{% url 'genre' genre.id %}">
                                    <div><h2>{{ genre }}</h2></div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div> 
    </div>

{% endblock %}