{% extends "songs/base.html" %}

{% block page_title %}
    Songs DB
{% endblock %}

{% block body %} 
    
    {%  include "songs/search.html" %}

    {%  include "songs/navigation.html" %}

    <div class="content def-font">
		<div class="container">
			<div class="type">
				<h2 class="text-center">Browse Music</h2>
				<div class="row">
                    <div class="col-xs-10 col-md-10 col-lg-10 col-centered">
                        <div id="carousel" class="carousel slide" data-ride="carousel" data-type="multi" data-interval="2500">
                            <div class="carousel-inner">
                                {% for genre in genres %}
                                    <div class="item active">
                                        <div class="carousel-col">
                                            <div class="card">
                                                <div class="card-image">
                                                    <!-- <img src="../../static/images/sa-ngalan-ng-pagibig.jpeg" width="100%"> -->
                                                    <img src="/media/{{ genre.image }}" width="100%">                                                
                                                </div>
                                                <div class="card-body text-center">
                                                    <h4 class="card-title">
                                                        <a class="def-font" href="{% url 'genre' genre.id %}">
                                                            {{ genre }}
                                                        </a>
                                                    </h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}  
                            </div>  
                        </div>
                    </div>  
                </div>        
            </div>
        </div>

        {%  include "songs/player.html" %}  
        <script>
            $(document).ready(function() {
                $("#btnbrowse").addClass("active");
            });
        </script>
    </div>  
      
    
{% endblock %}