<div class="navigation def-font sticky-top">
    <div class="container">
        <div class="row">
            <div class="col-12 col-xs-12">
                <div class="d-flex flex-row justify-content-start text-center" id="btndiv">
                    <div class="btn" id="btnbrowse"><a href="{% url 'index' %}">Browse</a></div>
                    <div class="btn" id="btnplaylist"><a href="{% url 'display_playlist' %}">My Playlists</a></div>
                    {% if user.is_authenticated %}
                        <div class="btn" id="btnprofile"><a href="{% url 'user_display_profile' user.username %}">My Profile</a></div>
                    {% else %}
                        <div class="btn" id="btnprofile"><a href="{% url 'login' %}">My Profile</a></div>
                    {% endif %}
                </div>

            </div>    
        </div>
    </div>
</div>

<!-- <script>
    // Add active class to the current button (highlight it)
    var header = document.getElementById("btndiv");
    var btns = header.getElementsByClassName("btn");
    for (var i = 0; i < btns.length; i++) {
        btns[i].addEventListener("click", function() {
        var current = document.getElementsByClassName("active");
        current[0].className = current[0].className.replace(" active", "");
        this.className += " active";
        });
    }
</script> -->