{% extends "songs/base.html" %}

{% block page_title %}
    {{ playlist }} | Songs
{% endblock %}

{% load escape_quotes %}

{% block body %}

    

        <div class="def-fontcol-8">
            <br>
            <h2 class="alert alert-info">Playlist: <strong>{{ playlist }}</strong></h2>

            <table class="def-font table table-hover">
                <tr></tr>
                <tbody>
                    {% for song in songs %}
                        <!-- <tr id="song_tr_{{ forloop.counter }}">
                            <td>{{ forloop.counter }}</td>
                            <td>
                                <i id="song_{{ song.id }}" onclick="play_song('{{ song.id }}', '{{ song.path }}', '{{ song.title|escape_quotes }}', '{{ song.album|escape_quotes }}', '{{ song.genre|escape_quotes }}', '{{ song.album.artist|escape_quotes }}', '{{ forloop.counter }}')" style="cursor: pointer;" class="fa fa-play-circle"></i>                                    
                                &nbsp;
                                <span id="song_title_{{ forloop.counter }}">{{ song }}</span><input type="hidden" value="{{ song.path }}" id="song_path_{{ forloop.counter }}">
                            </td>
                            {% if user.is_authenticated %}
                            <td>
                                <i onclick="remove_song_from_a_play_list('{{ playlist.id }}', '{{ song.id }}', '{{ song.title|escape_quotes }}', '{{ forloop.counter }}')" title="Remove this song from this playlist" style="cursor: pointer;" class="fa fa-minus-circle"></i>
                            </td>
                            {% endif %}
                        </tr> -->

                        <tr id="song_tr_{{ forloop.counter }}">
                                <td>
                                    {{ forloop.counter }}
                                </td>
                                
                                <td title="play" onclick="play_song('{{ song.id }}', '{{ song.path }}', '{{ song.title|escape_quotes }}', '{{ song.album|escape_quotes }}', '{{ song.album.cover|escape_quotes }}', '{% for genre in song.genre.all %}{{ genre|escape_quotes }}; {% endfor %}', '{{ song.album.artist|escape_quotes }}', '{{ song.duration }}', '{{ song.audio_format }}', '{{ song.size }}', '{{ forloop.counter }}')" style="cursor: pointer;">
                                    <i id="song_{{ song.id }}" class="fa fa-play-circle"></i>
                                    &nbsp;
                                    <span id="song_title_{{ forloop.counter }}">{{ song }}</span><input type="hidden" value="{{ song.path }}" id="song_path_{{ forloop.counter }}">
                                </td>
                                
                                {% if user.is_authenticated %}
                                    <td>
                                        <i onclick="remove_song_from_a_play_list('{{ playlist.id }}', '{{ song.id }}', '{{ song.title|escape_quotes }}', '{{ forloop.counter }}')" title="Remove this song from this playlist" style="cursor: pointer;" class="fa fa-minus-circle"></i>
                                    </td>
                                {% endif %}
                                
                                <span style="visibility: hidden;" id="song_artist_{{ forloop.counter }}">{{ song.album.artist }}</span>
                                <span style="visibility: hidden;" id="song_path_{{ forloop.counter }}">{{ song.path }}</span>
                                <span style="visibility: hidden;" id="song_album_{{ forloop.counter }}">{{ song.album }}</span>
                                <span style="visibility: hidden;" id="song_album_cover_{{ forloop.counter }}">{{ song.album.cover }}</span>
                                <span style="visibility: hidden;" id="song_genre_{{ forloop.counter }}">{% for genre in song.genre.all %}{{ genre }}; {% endfor %}</span>
                                <span style="visibility: hidden;" id="song_duration_{{ forloop.counter }}">{{ song.duration }}</span>
                                <span style="visibility: hidden;" id="song_audio_format_{{ forloop.counter }}">{{ song.audio_format }}</span>
                                <span style="visibility: hidden;" id="song_size_{{ forloop.counter }}">{{ song.size }}</span>
                            </tr>
                    {% empty %}
                        <tr><td colspan="8" class="alert alert-warning">No songs retrieved.</td></tr>
                    {% endfor %}
                </tbody>
            </table>
            <hr>
        </div>
   

    {% include "songs/player.html" %}

{% endblock %}