<div title="Show player" id="div_show_player">
    <i class="fa fa-volume-up"></i>
</div>

<div class="player fixed-bottom">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-12">
                <div class="card playlist">
                    <div class="card-header text-center">
                        <h5>Playlists</h5>
                    </div>
                    <div class="playlist-content">
                        <ul>
                            <li>Playlist 1</li>
                            <li>Playlist 2</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-1 text-center">
                <div class="album-image">
                    <img src="../../static/images/sa-ngalan-ng-pagibig.jpeg" width="100%">
                    <p>Album title</p>
                </div>
            </div>
            <div class="col-3">
                <!-- <button id="btn_close_player">x</button> -->
                <div class="details">
                    <h6>Currently Playing: <strong id="current_song"></strong></h6>
                    <p>
                        Genre: <strong id="current_genre"></strong><br>
                        Album: <strong id="current_album"></strong><br>
                        Artist: <strong id="current_artist"></strong><br>


                        Song Duration: <strong id="current_duration"></strong><br>
                        Audio Format: <strong id="current_format"></strong><br>
                        File Size: <strong id="current_size"></strong><br>
                        
                        <div id="div_download_form_container"></div>
                        
                        <input type="hidden" value="0" id="current_song_id" />
                        <input type="hidden" value="0" id="previous_playing_song_id" />
                        <input type="hidden" value="{{ user }}" id="current_user" />
                    </p>
                </div>
            </div>
            <div class="col-8 col-centered">
                <div class="controls d-flex align-items-center">
                    <div>
                        <button class="open-playlist">
                            <i class="fas fa-list-ul"></i>
                        </button>
                    </div>
                    <div>
                        <button>
                            <i title="Previous" onclick="play_previous()" class="fas fa-backward"></i>
                        </button>
                    </div>
                    <div>
                        <audio controls preload="auto" id="audio_currently_playing" onclick="paused_played()">
                            <source id="audio_source" src="" type="audio/mpeg">
                        </audio>
                    </div>
                    <div>
                        <button>
                            <i title="Next" onclick="play_next()" class="fas fa-forward"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>        

    </div>
</div>

<input type="hidden" value="0" id="current_song_id" />
<input type="hidden" value="0" id="previous_playing_song_id" />
<input type="hidden" id="current_playing_row">

<script>

    $(".controls .open-playlist").click(function(){
        $(".player .my_playlist").toggle();
    });

    window.onload = function() {
        document.querySelector("#audio_currently_playing").addEventListener("ended", auto_next_song, false);

        $("#btn_close_player").click(function() {
            // document.getElementById("player_div").style.display = "none";
            // document.getElementById("div_show_player").style.display = "block";
        });

        $("#div_show_player").click(function() {
            // document.getElementById("player_div").style.display = "block";
            // document.getElementById("div_show_player").style.display = "none";
        });
    }

    function paused_played() {
        console.log("clicked!");
        if(document.getElementById("current_song").innerHTML != "") {
            var audio = document.getElementById("audio_currently_playing");
            var current_song_id = document.getElementById("current_song_id").value;                 
            var icon = document.getElementById("song_"+current_song_id); 
            
            if(audio.paused) {
                icon.classList.remove("fa-play-circle");
                icon.classList.add("fa-pause-circle");
            } else {
                icon.classList.remove("fa-pause-circle")
                icon.classList.add("fa-play-circle");
            }
        }

    }

    function play_song(id, path, title, album, genre, artist, duration, audio_format, size, row_number) {
        console.log("Test");
        // document.getElementById("player_div").style.display = "block"
        var current_song_id = document.getElementById("current_song_id").value;
        console.log("Works here 2 " + current_song_id );

        var previous_playing_song_id = document.getElementById("previous_playing_song_id").value;
        var icon = document.getElementById("song_"+id);
        var audio = document.getElementById("audio_currently_playing");

        console.log("Current song: " + current_song_id);
        console.log("previous_playing_song_id: " + previous_playing_song_id);
        if(current_song_id != id) {
            if(current_song_id != "0" && previous_playing_song_id != "0") {
                if(icon.classList.contains("fa-play-circle")) {
                    var previous_i = document.getElementById("song_"+previous_playing_song_id);
                    previous_i.classList.remove("fa-pause-circle");
                    previous_i.classList.add("fa-play-circle");
                }
            }

            if($("#current_user").val() != "AnonymousUser" && $("#current_user").val() != "AnonymousUser") {
                var form_element = "<form id='form_song_download' method='GET' action='{% url 'download_song' %}'>"+
                                    "<input type='hidden' name='path' value='"+ path +"' />"+
                                    "<i title='download song' onclick=\"document.getElementById('form_song_download').submit();\" style='cursor: pointer;' class='fa fa-download'></i>"+                         
                                    "&nbsp;<span>Download Song</span>" +
                                    "</form>";


                document.getElementById("div_download_form_container").innerHTML = form_element;    
            }

            document.getElementById("current_song").innerHTML = title;
            document.getElementById("current_genre").innerHTML = genre;
            document.getElementById("current_album").innerHTML = album;
            document.getElementById("current_artist").innerHTML = artist;
            
            document.getElementById("current_format").innerHTML = audio_format;
            document.getElementById("current_duration").innerHTML = duration;
            document.getElementById("current_size").innerHTML = size;


            index = path.lastIndexOf("/");
            fileName = path.substring(index + 1);
            console.log("fileName: " + fileName);

            var source = document.getElementById("audio_source");
            source.src = "/media/audios/" + fileName;

            audio.load();
            audio.play();

            icon.classList.remove("fa-play-circle");
            icon.classList.add("fa-pause-circle")

            document.getElementById("current_song_id").value = id;
            document.getElementById("previous_playing_song_id").value = id;

        } else {
            if(icon.classList.contains("fa-pause-circle")) {
                icon.classList.remove("fa-pause-circle");
                icon.classList.add("fa-play-circle");
                audio.pause();
            } else {
                icon.classList.remove("fa-play-circle");
                icon.classList.add("fa-pause-circle");
                audio.play();
                document.getElementById("previous_playing_song_id").value = id; 
            }
        }
        document.getElementById("current_playing_row").value = row_number;

    }

    function play_previous() {
        var current_playing_row = parseInt(document.getElementById("current_playing_row").value);
        console.log("Previous was clicked!\n==========")
        console.log("Current playing row = " + current_playing_row);
        if(current_playing_row > 1) {
            var next_song_path = document.getElementById("song_path_"+(current_playing_row-1)).value;
          
            var title = document.getElementById("song_title_"+(current_playing_row-1)).innerHTML;
            document.getElementById("current_song").innerHTML = title;
            document.getElementById("current_genre").innerHTML = document.getElementById("song_genre_"+(current_playing_row-1)).innerHTML;
            document.getElementById("current_album").innerHTML = document.getElementById("song_album_"+(current_playing_row-1)).innerHTML;
            document.getElementById("current_artist").innerHTML = document.getElementById("song_artist_"+(current_playing_row-1)).innerHTML;

            var audio = document.getElementById("audio_currently_playing");
            var source = document.getElementById("audio_source");

            var index = next_song_path.lastIndexOf("/");
            var fileName = next_song_path.substring(index + 1);
            
            source.src = "/media/audios/" + fileName;

            audio.load();
            audio.play();

            change_playing_icon(current_playing_row, -1);

            document.getElementById("current_playing_row").value = current_playing_row - 1;
        }
    }

    function play_next() {
        var total_number_of_rows = parseInt(document.getElementById("tbody_songs").getElementsByTagName("tr").length);
        var current_playing_row = parseInt(document.getElementById("current_playing_row").value);
        console.log("Next was clicked!\n==========")
        console.log("Current playing row = " + current_playing_row);
        console.log("Total number of rows = " + total_number_of_rows);
        if(current_playing_row < total_number_of_rows) {
            var next_song_path = document.getElementById("song_path_"+(current_playing_row+1)).value;
          
            var title = document.getElementById("song_title_"+(current_playing_row+1)).innerHTML;
            document.getElementById("current_song").innerHTML = title;
            document.getElementById("current_genre").innerHTML = document.getElementById("song_genre_"+(current_playing_row+1)).innerHTML;
            document.getElementById("current_album").innerHTML = document.getElementById("song_album_"+(current_playing_row+1)).innerHTML;
            document.getElementById("current_artist").innerHTML = document.getElementById("song_artist_"+(current_playing_row+1)).innerHTML;

            var audio = document.getElementById("audio_currently_playing");
            var source = document.getElementById("audio_source");

            var index = next_song_path.lastIndexOf("/");
            var fileName = next_song_path.substring(index + 1);
            
            source.src = "/media/audios/" + fileName;

            audio.load();
            audio.play();

            change_playing_icon(current_playing_row, +1);
            
            document.getElementById("current_playing_row").value = current_playing_row + 1
        }
    }

    function auto_next_song() {
        console.log("Song has finished!")
        var total_number_of_rows = parseInt(document.getElementById("tbody_songs").getElementsByTagName("tr").length);
        var current_playing_row = parseInt(document.getElementById("current_playing_row").value);
        console.log("Current playing row = " + current_playing_row);
        console.log("Total number of rows = " + total_number_of_rows);
        if(current_playing_row < total_number_of_rows) {
            var next_song_path = document.getElementById("song_path_"+(current_playing_row+1)).value;
          
            var title = document.getElementById("song_title_"+(current_playing_row+1)).innerHTML;
            document.getElementById("current_song").innerHTML = title;
            document.getElementById("current_genre").innerHTML = document.getElementById("song_genre_"+(current_playing_row+1)).innerHTML;
            document.getElementById("current_album").innerHTML = document.getElementById("song_album_"+(current_playing_row+1)).innerHTML;
            document.getElementById("current_artist").innerHTML = document.getElementById("song_artist_"+(current_playing_row+1)).innerHTML;

            var audio = document.getElementById("audio_currently_playing");
            var source = document.getElementById("audio_source");

            var index = next_song_path.lastIndexOf("/");
            var fileName = next_song_path.substring(index + 1);
            
            source.src = "/media/audios/" + fileName;

            audio.load();
            audio.play();

            change_playing_icon(current_playing_row, +1);
            
            document.getElementById("current_playing_row").value = current_playing_row + 1
        } else {
            document.getElementById("song_tr_"+(total_number_of_rows)).cells[1].getElementsByTagName("i")[0].classList.remove("fa-pause-circle");
            document.getElementById("song_tr_"+(total_number_of_rows)).cells[1].getElementsByTagName("i")[0].classList.add("fa-play-circle");
        }
    }

    function change_playing_icon(current_playing_row, operation) {
        document.getElementById("song_tr_"+(current_playing_row+parseInt(operation))).cells[1].getElementsByTagName("i")[0].classList.remove("fa-play-circle");
        document.getElementById("song_tr_"+(current_playing_row+parseInt(operation))).cells[1].getElementsByTagName("i")[0].classList.add("fa-pause-circle");

        document.getElementById("song_tr_"+(current_playing_row)).cells[1].getElementsByTagName("i")[0].classList.remove("fa-pause-circle");
        document.getElementById("song_tr_"+(current_playing_row)).cells[1].getElementsByTagName("i")[0].classList.add("fa-play-circle");
    }



</script>