{% extends "songs/base.html" %}

{% block page_title %}
    {{ playlist }} | Songs
{% endblock %}
{% load escape_quotes %}
{% block body %}

    <div class="container">
        <h2 class="alert alert-info">Playlist: <strong>{{ playlist }}</strong></h2>

        <table class="table">
            <tr>
                <th></th>
                {% if user.is_authenticated %}
                    <th colspan="3">Actions</th>
                {% else %}
                    <th colspan="2">Actions</th>
                {% endif %}
                <th>Title</th>
                <th>Artist</th>
                <th>Album</th>
                <th>Genre</th>
            </tr>
            <tbody id="tbody_songs">
                {% for song in songs %}
                    <tr id="song_tr_{{ forloop.counter }}">
                        <td>{{ forloop.counter }}</td>
                        <td title="play">
                            <i id="song_{{ song.id }}" onclick="play_song('{{ song.id }}', '{{ song.path }}', '{{ song.title|escape_quotes }}', '{{ song.album }}', '{{ song.genre }}', '{{ song.album.artist }}', '{{ forloop.counter }}')" style="cursor: pointer;" class="fa fa-play-circle"></i>
                        </td>
                        <td title="download">
                            <form id="form_song_download" method="GET" action="{% url 'download_song' %}">
                                <input type="hidden" name="path" value="{{ song.path }}" />
                                <i onclick="document.getElementById('form_song_download').submit();" style="cursor: pointer;" class="fa fa-download"></i>                            
                            </form>
                        </td>
                        {% if user.is_authenticated %}
                        <td>
                            <i onclick="remove_song_from_a_play_list('{{ playlist.id }}', '{{ song.id }}', '{{ song.title|escape_quotes }}', '{{ forloop.counter }}')" title="Remove this song from this playlist" style="cursor: pointer;" class="fa fa-minus-circle"></i>
                        </td>
                        {% endif %}
                        <td><span id="song_title_{{ forloop.counter }}">{{ song }}</span><input type="hidden" value="{{ song.path }}" id="song_path_{{ forloop.counter }}"></td>
                        <td>{{ song.album.artist }}</td>
                        <td>{{ song.album }}</td>
                        <td>{{ song.genre }}</td>
                    </tr>
                {% empty %}
                    <tr><td colspan="8" class="alert alert-warning">No songs retrieved.</td></tr>
                {% endfor %}
            </tbody>
        </table>

        <hr>
        <a href="{% url 'index' %}"> << Go Home</a>

    </div>

{% endblock %}