<div class="player fixed-bottom">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-12">
                <div class="card my_playlist">
                    <div class="card-header text-center">
                        <h5>Playlists</h5>
                    </div>
                    <div class="playlist-content">
                        <ul>
                            <li>Playlist 1</li>
                            <li>Playlist 2</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-3 col-md-3">
                <div class="controls text-center">
                    <div>
                        <button><i class="fas fa-backward fa-1x"></i></button>
                    </div>
                    <div>
                        <button><i class="fas fa-play"></i></button>
                    </div>
                    <div>
                        <button><i class="fas fa-forward fa-1x"></i></button>
                    </div>
                    <div>
                        <button class="open-playlist"><i class="fas fa-list-ul"></i></button>
                    </div>
                </div>
                <div class="details">
                    <h5>Thinking out loud</h5>
                    <h6>Ed Sheeran</h6>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(".controls .open-playlist").click(function(){
        $(".player .my_playlist").toggle();
    });
</script>