<div id="player_div" class="text-center footer navbar-fixed-bottom">
    <p>
        Currently Playing: <strong id="current_song"></strong>
        <input type="hidden" value="0" id="current_song_id" />
        <input type="hidden" value="0" id="previous_playing_song_id" />
    </p>
    <div>
        <i title="Previous" id="prevbtn" onclick="play_previous()" class="fa fa-caret-left"></i>
        <audio controls preload="auto" id="audio_currently_playing" onclick="paused_played()">
            <source id="audio_source" src="" type="audio/mpeg">
        </audio>
        <i title="Next" id="nextbtn" onclick="play_next()" class="fa fa-caret-right"></i>
    </div>
</div>

<input type="hidden" id="current_playing_row">

<script>
    window.onload = function() {
        document.querySelector("#audio_currently_playing").addEventListener("ended", auto_next_song, false);
    }

    function paused_played() {
        console.log("clicked!");
        if(document.getElementById("current_song").innerHTML != "") {
            var audio = document.getElementById("audio_currently_playing");
            var current_song_id = document.getElementById("current_song_id").value;                 
            var icon = document.getElementById("song_"+current_song_id); 
            
            if(audio.paused) {
                icon.classList.remove("fa-play-circle");
                icon.classList.add("fa-pause-circle");
            } else {
                icon.classList.remove("fa-pause-circle")
                icon.classList.add("fa-play-circle");
            }
        }

    }

    function play_song(id, path, title, album, genre, artist, row_number) {
        console.log("Test");
        document.getElementById("player_div").style.display = "block"
        var current_song_id = document.getElementById("current_song_id").value;
        console.log("Works here 2 " + current_song_id );

        var previous_playing_song_id = document.getElementById("previous_playing_song_id").value;
        var icon = document.getElementById("song_"+id);
        var audio = document.getElementById("audio_currently_playing");

        console.log("Current song: " + current_song_id);
        console.log("previous_playing_song_id: " + previous_playing_song_id);
        if(current_song_id != id) {
            if(current_song_id != "0" && previous_playing_song_id != "0") {
                if(icon.classList.contains("fa-play-circle")) {
                    var previous_i = document.getElementById("song_"+previous_playing_song_id);
                    previous_i.classList.remove("fa-pause-circle");
                    previous_i.classList.add("fa-play-circle");
                }
            }

            document.getElementById("current_song").innerHTML = title;

            index = path.indexOf("/");
            fileName = path.substring(index + 1);
            console.log("fileName: " + fileName);

            var source = document.getElementById("audio_source");
            source.src = "/media/" + fileName;

            audio.load();
            audio.play();

            icon.classList.remove("fa-play-circle");
            icon.classList.add("fa-pause-circle")

            document.getElementById("current_song_id").value = id;
            document.getElementById("previous_playing_song_id").value = id;

        } else {
            if(icon.classList.contains("fa-pause-circle")) {
                icon.classList.remove("fa-pause-circle");
                icon.classList.add("fa-play-circle");
                audio.pause();
            } else {
                icon.classList.remove("fa-play-circle");
                icon.classList.add("fa-pause-circle");
                audio.play();
                document.getElementById("previous_playing_song_id").value = id; 
            }
        }
        document.getElementById("current_playing_row").value = row_number;

    }

    function play_previous() {
        var current_playing_row = parseInt(document.getElementById("current_playing_row").value);
        console.log("Previous was clicked!\n==========")
        console.log("Current playing row = " + current_playing_row);
        if(current_playing_row > 1) {
            var next_song_path = document.getElementById("song_path_"+(current_playing_row-1)).value;
          
            var title = document.getElementById("song_title_"+(current_playing_row-1)).innerHTML;
            document.getElementById("current_song").innerHTML = title;

            var audio = document.getElementById("audio_currently_playing");
            var source = document.getElementById("audio_source");

            var index = next_song_path.indexOf("/");
            var fileName = next_song_path.substring(index + 1);
            
            source.src = "/media/" + fileName;

            audio.load();
            audio.play();

            change_playing_icon(current_playing_row, -1);

            document.getElementById("current_playing_row").value = current_playing_row - 1;
        }

    }

    function play_next() {
        var total_number_of_rows = parseInt(document.getElementById("tbody_songs").getElementsByTagName("tr").length);
        var current_playing_row = parseInt(document.getElementById("current_playing_row").value);
        console.log("Next was clicked!\n==========")
        console.log("Current playing row = " + current_playing_row);
        console.log("Total number of rows = " + total_number_of_rows);
        if(current_playing_row < total_number_of_rows) {
            var next_song_path = document.getElementById("song_path_"+(current_playing_row+1)).value;
          
            var title = document.getElementById("song_title_"+(current_playing_row+1)).innerHTML;
            document.getElementById("current_song").innerHTML = title;

            var audio = document.getElementById("audio_currently_playing");
            var source = document.getElementById("audio_source");

            var index = next_song_path.indexOf("/");
            var fileName = next_song_path.substring(index + 1);
            
            source.src = "/media/" + fileName;

            audio.load();
            audio.play();

            change_playing_icon(current_playing_row, +1);
            
            document.getElementById("current_playing_row").value = current_playing_row + 1
        }
    }

    function auto_next_song() {
        console.log("Song has finished!")
        var total_number_of_rows = parseInt(document.getElementById("tbody_songs").getElementsByTagName("tr").length);
        var current_playing_row = parseInt(document.getElementById("current_playing_row").value);
        console.log("Current playing row = " + current_playing_row);
        console.log("Total number of rows = " + total_number_of_rows);
        if(current_playing_row < total_number_of_rows) {
            var next_song_path = document.getElementById("song_path_"+(current_playing_row+1)).value;
          
            var title = document.getElementById("song_title_"+(current_playing_row+1)).innerHTML;
            document.getElementById("current_song").innerHTML = title;

            var audio = document.getElementById("audio_currently_playing");
            var source = document.getElementById("audio_source");

            var index = next_song_path.indexOf("/");
            var fileName = next_song_path.substring(index + 1);
            
            source.src = "/media/" + fileName;

            audio.load();
            audio.play();

            change_playing_icon(current_playing_row, +1);
            
            document.getElementById("current_playing_row").value = current_playing_row + 1
        } else {
            document.getElementById("song_tr_"+(total_number_of_rows)).cells[1].getElementsByTagName("i")[0].classList.remove("fa-pause-circle");
            document.getElementById("song_tr_"+(total_number_of_rows)).cells[1].getElementsByTagName("i")[0].classList.add("fa-play-circle");
        }
    }

    function change_playing_icon(current_playing_row, operation) {
        document.getElementById("song_tr_"+(current_playing_row+parseInt(operation))).cells[1].getElementsByTagName("i")[0].classList.remove("fa-play-circle");
        document.getElementById("song_tr_"+(current_playing_row+parseInt(operation))).cells[1].getElementsByTagName("i")[0].classList.add("fa-pause-circle");

        document.getElementById("song_tr_"+(current_playing_row)).cells[1].getElementsByTagName("i")[0].classList.remove("fa-pause-circle");
        document.getElementById("song_tr_"+(current_playing_row)).cells[1].getElementsByTagName("i")[0].classList.add("fa-play-circle");

    }

</script>