<div class="banner">
    <div class="container-fluid" >
        <div class="row justify-content-center">
            <div class="col-6">
                <div class="search text-center" >
                    <form method="GET" id="form_search_song" action="{% url 'search_song' %}" >
                        {% csrf_token %}
                        <h5>Search your favorite songs, artists, album here.</h5>
                        <div class="input-group mb-3">
                            <input class="form-control" placeholder="search keyword" name="search_keyword" id="search_keyword" type="text">
                            <div class="input-group-btn input-group-append">
                                <button class="btn btn-default" id="btn_search" type="submit"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>