#header{
    background-color: #1A1D20 !important;
}

#header #logo{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 40px;
    font-size: 30px;
    font-weight: bolder;
    line-height: 30px;
    font-style: oblique;
}

#header button{
    color:white;
    background-color: green;
}

.sticky-top {
    top: 0;
}

body{
    background-color:#343a40;

    position: relative ;
}

#search span{
    background-color: #1A1D20;
    border: none;
    color: white;
}
#search select{
    background-color: #1A1D20;
    border: none;
    color: white;
    padding: 0px;
}

#genrestyle{
    padding: 10px;
    margin-bottom: 20px;
    height: 320px;
    width: 251px;
    background-color:none;
}

#genrestyle h2{
    text-align: center;
    vertical-align: middle;
    line-height: 300px;    
    color: black;
    font-weight: 600;
}
#genrestyle div{
    border-radius: 15px;
    height: 300px;
    width: 231px;
    background-image: linear-gradient( #d6fff0, #42f480);
  
  }

  .table, .backbtn{
      color: white;
  }

  #login, #cancel{
      color: white;
      background-color: #28a745;
      border-color: #28a745;
      height: 50px;
      line-height: 38px;
  }

  #loginform {
    background-color: #1A1D20; 
    padding:10px;
    height: 300px;
  }

  .form{
      height: 40px;
      width: 300px;
  }
  
  #sign{
      color: white !important;

  }