#header, #btn_search, #sign_container, #login_container{
    background-color: #1A1D20 !important;
}

#header #logo{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 40px;
    font-size: 30px;
    font-weight: bolder;
    line-height: 30px;
    font-style: oblique;
}
.log{
    color: white;
    margin-bottom: 0px;
    margin-right: 15px;
}

#header button{
    color:white;
    background-color: green;
}

.sticky-top {
    top: 0;
}

body{
    background-color:#343a40;
    position: relative ;
}

#search span{
    background-color: #1A1D20;
    border: none;
    color: white;
}
#search select {
    background-color: #1A1D20;
    border: none;
    color: white;
    padding: 0px;
}

#genrestyle{
    padding: 10px;
    margin-bottom: 20px;
    height: 320px;
    width: 251px;
    background-color:none;
}

#genrestyle h2{
    text-align: center;
    vertical-align: middle;
    line-height: 300px;    
    color: black;
    font-weight: 600;
}
#genrestyle div{
    border-radius: 15px;
    height: 300px;
    background-image: linear-gradient( #d6fff0, #42f480);
  
  }

  .table, .backbtn, .container a, #sign h2, #sign label, #btn_search i{
      color: white;
  }

  #sign {
    margin-top: 24px;
  }

  #sign_container{
      padding: 20px;
      border-radius: 8px;
  }
  #login_container {
    border-radius: 8px;
  }
  #sign_container h2{
      color:#28a745;
      font-weight: bolder;
  }


  #btnlogin, #btncancel, .create_user_btn input{
      color: white;
      background-color: #28a745;
      border-color: #28a745;
      height: 50px;
      line-height: 38px;
      font-weight: bold;
  }


  #playlistContainer{
    padding:0px;
    margin-left: 40px;
    margin-top:24px;
    border:none;
  }

  #playlistContainer .card{
      background-color: #1A1D20;
      color:white;
  }

  #playlistContainer .card-header, h4{
      background-color:#1A1D20;
      color: #28a745;
      border-color: #28a745;
      line-height: 30px;
      margin-bottom: 0px;
  }

  #playlistContainer i{
    cursor: pointer;
  }

  #table_playlists a{
    color:#28a745;
  }

 

  .btn-primary, .btn-danger{ 
    margin: 5px 0px 5px 0px;
  }