.def-font, #def-font{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

#sign_container, #login_container{
    background-color: #343a40 !important;
}
 .header, .header nav{
    height: 80px !important;
    background-color: black !important;
    border-bottom: 1px solid #e6b31e;
}

#logo{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
    font-weight: bold;
    line-height: 25px;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 50px;
}

#logo p{
    color:#e6b31e;
}

.banner {
    height: 300px;
    background-image: url('../images/banner.jpeg');
    background-position: 100% 30%;
    background-size: cover;
}

.banner .search {
    margin-top: 80px;
}

.banner .search input[type="text"] {
    padding: 16px 24px;
    font-size: 15px;
    line-height: 15px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 0; 
}

.banner .search button{
    font-size: 15px;
    line-height: 17px;
    color: black;
    background-color: #e6b31e;
}

.banner .search h5 {
    color: white;
    font-weight: 600;
    background-color: transparent;
}

.navigation {
    height: 58px;
    background: #e6b31e;
    margin-top: -16px;
    border-bottom:2px solid #212121;
}
  
.navigation ul {
    padding: 0; 
}

.navigation ul li {
    list-style: none;
    float: left;
}
       
.navigation ul li.active > a {
    background-color: #212121;
    color: #e6b31e;
}
       
.navigation ul li a {
    display: inline-block;
    padding: 16px 25px 11px 25px;
    font-size: 20px;
    line-height: 20 px;
    font-weight: 500;
    color: black; 
    
}
          
.navigation ul li a:hover {
    color:white;
    text-decoration: none; 
}

.header .account #strong_username a.user-name{
    background-color: none;
    color:#e6b31e;
}

#account p{
    color: #428e92;
}

.account, .account span{
    color: white;
    margin-bottom: 0px;
    margin-right: 20px;
    margin-left: 15px;
}
.login a, .account .btnlogout{
    color: black;
    background-color: #e6b31e  !important;
    border-color: #e6b31e  !important;
}


body{
    background-color:#212121;
    height: 100%;
}

#search span{
    background-color: #00363a;
    border: none;
    color: white;
}
#search select {
    background-color: #00363a;
    border: none;
    color: white;
    padding: 0px;
}
#form_search_song{
    margin-top: 24px;
}

.table, .backbtn, #sign h2, #sign label, #login_container .card-title{
      color: white;
}


#sign {
    margin-top: 24px;
}

#sign_container, #login_container .card-block {
    padding: 20px;
    border-radius: 8px;
}

#login_container {
    border-radius: 8px;
}

#sign_container h2{
    color:white  !important;
    font-weight: bold;
}

#btnlogin, #btncancel, .create_user_btn input, .create_user_btn a {
    color: black;
    background-color: #e6b31e  !important;
    border-color: #e6b31e !important;
    height: 50px;
    line-height: 38px;
    font-weight: bold;
}

#playlistContainer{
    padding:0px;
    margin-top:24px;
    border:none;
    margin-bottom: 24px;
    
}

#playlistContainer .card{
    background-color: #e0e0e0;
    color:black;
    height:100%;
    height:100%;
    border:none;
}

#playlistContainer .card-header{
    background-color:#00363a;
    color: white;
    line-height: 30px;
    margin-bottom: 0px;

    border-color: none;
}

#playlistContainer i{
    cursor: pointer;
}

#table_playlists a{
    color:black;
}
#table_playlists td{
    padding:5px;
}

.btn-primary, .btn-danger{ 
    margin: 5px 0px 5px 0px;
}

#player_div{
    color: white;
    background-color: #00363a;
    display: none;
    height: 250px;
    width: 100%;
    padding: 10px !important;
    padding-top: 45px !important;
    bottom: 0;
    right: 0;
    position: fixed; 
}

#btn_close_player {
    float: right;
    margin-top: -35px !important;
    margin-right: -5px !important; 
}

#div_show_player {
    bottom: 0;
    left: 0;
    position: fixed;
    /* height: 50px;
    width: 50px; */
    display: none;
    background-color: #00363a;
    color: white;
    font-size: 40px;
    cursor: pointer;
    padding: 10px;
}

#sign_container, #tbody_songs{
    margin-top: 180px;
}

.login_div {
    margin-top: 150px;
}

.login_div .card .card-header .card-title{
    margin-bottom:0px;
}

.login_div .card .card-block #div_oauth h5{
    font-size: 15px;
    color: white;
}

.login_div .card .card-block #div_oauth{
    margin-top: 8px;
}

.login_div .card .card-block .oauth-icons{
    font-size: 25px;
}
.login_div .card .card-block .oauth-icons a{
    color:white;
    margin-right:5px;
}

.login_div .card .card-block #div_oauth .oauth-icons a:hover{
    color:#e6b31e;
    margin-right:5px;
}

#login_container{
    margin-top: 80px;
}

.content {
    margin-bottom: 120px;
    background: #212121; }
    /* line 112, ../sass/main.scss */
    .content h2 {
      margin: 40px 0 60px 0;
      color: white;
      font-weight: bold; }
    /* line 117, ../sass/main.scss */
    .content .card {
      background: #fff;
      margin-bottom: 20px;
      border: 1px solid white;}
      /* line 120, ../sass/main.scss */
      .content .card .card-body {
        padding: 5px;
        background-color: #e6b31e;
        height: 45px;}
        /* line 122, ../sass/main.scss */
        .content .card .card-image img {
          margin: 0 auto;
          height: 218px;
          width: 100%;
          object-fit: cover;}
          .content .card .card-body a {
              color:black;
              font-size: 23px; }
              .content .card .card-body:hover a,.content .card .card-body:hover{
                color:white;
                background-color: #00363a;
                text-decoration: none; }
              
  
  /* line 129, ../sass/main.scss */
  .col-centered {
    float: none;
    margin: 0 auto; }
  
  /* line 134, ../sass/main.scss */
  .carousel-control {
    width: 8%;
    width: 0px; }
  
  /* line 138, ../sass/main.scss */
  .carousel-control.left,
  .carousel-control.right {
    margin-top: -25px;
    margin-right: 40px;
    margin-left: 32px;
    background-image: none;
    opacity: 1; }
  
  /* line 146, ../sass/main.scss */
  .carousel-control > a > span {
    color: white;
    font-size: 29px !important; }
  
  /* line 151, ../sass/main.scss */
  .carousel-col {
    position: relative;
    min-height: 1px;
    padding: 5px;
    float: left; }
  
  /* line 159, ../sass/main.scss */
  .active > div {
    display: none; }
  
  /* line 160, ../sass/main.scss */
  .active > div:first-child {
    display: block; }
  
  /*xs*/
  @media (max-width: 767px) {
    /* line 164, ../sass/main.scss */
    .carousel-inner .active.left {
      left: -50%; }
  
    /* line 165, ../sass/main.scss */
    .carousel-inner .active.right {
      left: 50%; }
  
    /* line 166, ../sass/main.scss */
    .carousel-inner .next {
      left: 50%; }
  
    /* line 167, ../sass/main.scss */
    .carousel-inner .prev {
      left: -50%; }
  
    /* line 168, ../sass/main.scss */
    .carousel-col {
      width: 50%; }
  
    /* line 169, ../sass/main.scss */
    .active > div:first-child + div {
      display: block; } }
  /*sm*/
  @media (min-width: 768px) and (max-width: 991px) {
    /* line 174, ../sass/main.scss */
    .carousel-inner .active.left {
      left: -50%; }
  
    /* line 175, ../sass/main.scss */
    .carousel-inner .active.right {
      left: 50%; }
  
    /* line 176, ../sass/main.scss */
    .carousel-inner .next {
      left: 50%; }
  
    /* line 177, ../sass/main.scss */
    .carousel-inner .prev {
      left: -50%; }
  
    /* line 178, ../sass/main.scss */
    .carousel-col {
      width: 50%; }
  
    /* line 179, ../sass/main.scss */
    .active > div:first-child + div {
      display: block; } }
  /*md*/
  @media (min-width: 992px) and (max-width: 1199px) {
    /* line 184, ../sass/main.scss */
    .carousel-inner .active.left {
      left: -33%; }
  
    /* line 185, ../sass/main.scss */
    .carousel-inner .active.right {
      left: 33%; }
  
    /* line 186, ../sass/main.scss */
    .carousel-inner .next {
      left: 33%; }
  
    /* line 187, ../sass/main.scss */
    .carousel-inner .prev {
      left: -33%; }
  
    /* line 188, ../sass/main.scss */
    .carousel-col {
      width: 33%; }
  
    /* line 189, ../sass/main.scss */
    .active > div:first-child + div {
      display: block; }
  
    /* line 190, ../sass/main.scss */
    .active > div:first-child + div + div {
      display: block; } }
  /*lg*/
  @media (min-width: 1200px) {
    /* line 195, ../sass/main.scss */
    .carousel-inner .active.left {
      left: -25%; }
  
    /* line 196, ../sass/main.scss */
    .carousel-inner .active.right {
      left: 25%; }
  
    /* line 197, ../sass/main.scss */
    .carousel-inner .next {
      left: 25%; }
  
    /* line 198, ../sass/main.scss */
    .carousel-inner .prev {
      left: -25%; }
  
    /* line 199, ../sass/main.scss */
    .carousel-col {
      width: 25%; }
  
    /* line 200, ../sass/main.scss */
    .active > div:first-child + div {
      display: block; }
  
    /* line 201, ../sass/main.scss */
    .active > div:first-child + div + div {
      display: block; }
  
    /* line 202, ../sass/main.scss */
    .active > div:first-child + div + div + div {
      display: block; } }
  /* line 205, ../sass/main.scss */
  .block {
    width: 306px;
    height: 230px; }
  
  /* line 210, ../sass/main.scss */
  .red {
    background: red; }
  
  /* line 212, ../sass/main.scss */
  .blue {
    background: blue; }
  
  /* line 214, ../sass/main.scss */
  .green {
    background: green; }
  
  /* line 216, ../sass/main.scss */
  .yellow {
    background: yellow; }
  
  /* line 219, ../sass/main.scss */
  .category {
    margin-top: 120px;
    height: 800px;
    background: #1b714c; }

.player{
    background-color:#000000;
    height: 80px;
    width: 100%;
    border-top: 1px solid #212121;
    padding: 5px;
}


.player .controls div{
    margin-top: 12px;
    margin-right: 5px;
    vertical-align: middle;
}

.player .controls button{
    color:#e6b31e;
    background-color: transparent;
    border: none;
    font-size: 20px;
    line-height: 30px;
}

.player .controls audio{
    background-color: #000000;
    color: white;
}

.player .details p{
    color:white;
    margin-bottom: 0;
    font-size: 13px;
}
.player .details h6{
    color:white;
    margin-bottom: 0;
    font-size: 14px;
}

.player .playlist {
    display: none;
    height: 150px;
    width: 100%;
    background: lightgrey;
    margin-top: -160px;
    border:none;
    margin-bottom: 0;
    opacity: .9;
 }

.player .playlist .card-header{
    background-color: #343a40;
    color: white;
}

.player .playlist .card-header h5{
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 0;
}

.player .playlist-content li{
    font-size: 12px;
    color: black;
}
.player .controls{
    margin-top: 0;
}

.player .album-image img{
    margin: 0 auto;
    height: 50px;
    width: 50%;
    object-fit: cover;
    border:1px solid white;
}

.player .album-image p{
    color:#e6b31e;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: bold;
}