{% extends "data_man/base.html" %}

{% block page_title %}
    Artists
{% endblock %}

{% block body %}
    <div class="container">

        <div id="div_add_artists">
            <h2>Add Artist</h2>
            <form method="POST" id="form_add_artist">
                {% csrf_token %}
                <label>Name:</label>
                <input class="form-control" required id="artist_name" name="artist_name" />
                <br>
                <button class="btn btn-primary">Add Artist</button>
            </form>
        </div>
        <br>
        <h2>Artists</h2>
        <form method="GET" onsubmit="return false;" id="form_data_man_search_artist">
            {% csrf_token %}
            <input type="text" class="form-control" placeholder="search artist" id="search_artist_key_word" onkeyup="data_man_search_artist()" />
        </form>
        <br>
        <table class="table table-striped table-hover">
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th>Artists</th>
                <th>Albums</th>
            </tr>
            <tbody id="tbody_data_man_artists">
                {% for data in artists_data %}
                <tr>
                    <td onclick="show_update_artist_form('{{ data.artist.id }}', '{{ data.artist }}')"><i class="fa fa-edit"></i></td>
                    <td onclick="delete_artist('{{ data.artist.id }}', '{{ data.artist }}')"><i class="fa fa-trash"></i></td>
                    <td>{{ forloop.counter }}</td>
                    <td id="td_artist_{{ data.artist.id }}">{{ data.artist }}</td>
                    <td>
                        <ol>
                            {% for album in data.albums %}
                                <li>{{ album }}</li>
                            {% endfor %}
                        </ol>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="hidden" id="new_artist_form_container">
        <form onsubmit="update_artist(); return false;">
            <input onblur="update_artist()" type="text" class="form-control" id="new_artist" name="new_artist" /> 
            <input type="hidden" id="new_artist_id" />
        </form>
    </div>
{% endblock %}