{% extends "data_man/base.html" %}

{% block page_title %}
    Dashboard
{% endblock %}

{% block body %}

			<div class="container-fluid">
				<div class="row">
					<nav class="col-md-2 d-none d-md-block bg-light sidebar">
					<div class="sidebar-sticky">
						<ul class="nav flex-column">
						<li class="nav-item">
							<a class="nav-link active" href="{% url 'data_man_dashboard' %}">
							<span class="fas fa-chart-line"></i></span>
							Dashboard
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{% url 'data_man_songs' %}">
							<i class="fas fa-music"></i> 
							Songs
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{% url 'data_man_artists' %}">
							<span class="fas fa-user"></span> 
							Artists
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{% url 'data_man_albums' %}">
							<span class="fas fa-compact-disc"></span>
							Albums
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{% url 'data_man_genres' %}">
							<span class="fas fa-chart-bar"></span>
							Genres
							</a>
						</li>
						</ul>
					</div>
				</nav>

		<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
		  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
			<h1 class="h2">Dashboard</h1>
				<div class="btn-toolbar mb-2 mb-md-0">
				</div>
		  </div>


<div class="box">
    <div class="container">
     	<div class="row">
			 
			    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
               
					<div class="box-part text-center bg-primary text-white" id="total_num_of_songs">
                        
                        <i class="fas fa-music fa-3x" aria-hidden="true"></i>
                        
						<div class="title">
							<h4>Songs</h4>
						</div>
                        
						<div class="text">
							<span>{{ total_num_of_songs }}</span>
						</div>
                        
                        
					 </div>
				</div>	 
				
				 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
               
					<div class="box-part text-center bg-success text-white" id="total_num_of_artists">
					    
					    <i class="fas fa-user-circle fa-3x" aria-hidden="true"></i>
                    
						<div class="title">
							<h4>Artists</h4>
						</div>
                        
						<div class="text">
							<span>{{ total_num_of_artists }}</span>
						</div>
                        
					 </div>
				</div>	 
				
				 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
               
					<div class="box-part text-center bg-warning text-white" id="total_num_of_albums">
                        
                        <i class="fas fa-compact-disc fa-3x" aria-hidden="true"></i>
                        
						<div class="title">
							<h4>Albums</h4>
						</div>
                        
						<div class="text">
							<span>{{ total_num_of_albums }}</span>
						</div>
                        
					 </div>
				</div>	 
				
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
               
					<div class="box-part text-center bg-info text-white" id="total_num_of_genres">
                        
                        <i class="fas fa-chart-bar fa-3x" aria-hidden="true"></i>
                        
						<div class="title">
							<h4>Genres</h4>
						</div>
                        
						<div class="text">
							<span>{{ total_num_of_genres }}</span>
						</div>
                        
                        
					 </div>
				</div>	 
			</div>		
    </div>
</div>

{% endblock %}