{% extends "data_man/base.html" %}

{% load escape_quotes %}

{% block body %}

    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'data_man_dashboard' %}">
                  <span class="fas fa-chart-line"></span>
                  Dashboard
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="{% url 'data_man_songs' %}">
                  <i class="fas fa-music"></i> 
                  Songs
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'data_man_artists' %}">
                  <span class="fas fa-user"></span> 
                  Artists
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'data_man_albums' %}">
                  <span class="fas fa-compact-disc"></span>
                  Albums
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'data_man_genres' %}">
                  <span class="fas fa-chart-bar"></span>
                  Genres
                </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span class="fas fa-cogs"></span>
                Settings
              </a>
            </li>
            </ul>
          </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Songs</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
              <div class="mr-2">
                <button class="btn btn-primary" data-toggle="modal" data-target="#myModal"><i class="fas fa-plus-circle"></i> Add</button> 
              </div>
            </div>
          </div>

        <br>

        <form method="GET" onsubmit="return false;" id="form_data_man_search_song" onsubmit="data_man_search_song()">
            {% csrf_token %}
            <input type="text" class="form-control" placeholder="search song / artist / album / genre" id="search_song_key_word" onkeyup="data_man_search_song()" />
        </form>
        <br>
        <table class="table table-striped table-hover">
          <tr>
              <th></th>
              <th></th>
              <th>Title</th>
              <th>Album</th>
              <th>Artist</th>
              <th>Genre</th>
              <th>Duration</th>
              <th>Size</th>
              <th>File Format</th>
          </tr>
          <tbody id="tbody_data_man_songs">
              {% for song in songs %}
                  <tr id="song_tr_{{ song.id }}" onmouseover="show_song_edit_icons('{{ song.id }}')" onmouseout="hide_song_edit_icons('{{ song.id }}')">
                      <!-- <td title="Update" onclick="alert('Still working on it.')"><i class="fa fa-edit"></i></td> -->
                      <td title="Delete" onclick="delete_song('{{ song.id }}', '{{ song.title|escape_quotes }}', '{{ song.album.artist|escape_quotes }}')"><i class="fa fa-trash"></i></td>
                      <td>{{ forloop.counter }}</td>
                      <td id="td_song_title_{{ song.id }}">{{ song }} <sup style="visibility: hidden;" onclick="show_song_edit_title_form('{{ song.id }}', '{{ song|escape_quotes }}')"><i class="fa fa-edit song_edit_icon"></i></sup></td>
                      <td id="song_album_{{ forloop.counter }}">{{ song.album }} <sup style="visibility: hidden;" onclick="alert('Oops... Still working on it.')"><i class="fa fa-edit song_edit_icon"></i></sup></td>
                      <td id="song_artist_{{ forloop.counter }}">{{ song.album.artist }}</td>
                      <td id="song_genre_{{ forloop.counter }}">
                          {% for genre in song.genre.all %}  
                              {{ genre }};
                          {% endfor %}

                          <sup style="visibility: hidden;" onclick="alert('Oops... Still working on it.')"><i class="fa fa-edit song_edit_icon"></i></sup>
                      </td>
                      <td>{{ song.duration }} mins</td>
                      <td>{{ song.size }} MB </td>
                      <td>{{ song.audio_format }}</td>
                  </tr>
              {% empty %}
                  <p class="alert alert-warning">No songs retrieved.</p>
              {% endfor %}
          </tbody>
      </table>

      <div id="div_song_edit_title" style="visibility: hidden;">
        <form method="POST" onsubmit="song_edit_title(); return false;">
          {% csrf_token %}
          <input type="text" id="new_song_title" class="form-control" onblur="song_edit_title()" />
          <input type="hidden" id="song_id_to_update" class="form-control"/>
        </form>
      </div>

    </div>

    <!-- The Modal -->
 <div class="modal fade" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Add Song</h4>
          <button type="button" class="close" data-dismiss="modal">×</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
            <div id="div_ass_song">
                <form class="form" id="form_add_song" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                      <label for="title">Title:</label>
                      <input type="text" name="title" id="title" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Album:</label>
                        <select required name="album" id="album" class="form-control">
                            <option value="0">-------</option>
                            {% for album in albums %}
                                <option value="{{ album.id }}">{{ album }} - {{ album.artist }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Genre:</label>
                        <select required multiple name="genres" id="genres" class="form-control">
                            {% for genre in genres %}
                                <option value="{{ genre.id }}">{{ genre }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Path:</label>
                        <input type="file" name="path" id="path" required class="form-control"  accept="audio/*"/>
                        <br>
                    </div>
                  </form>
                  <button class="btn btn-primary" onclick="add_song()">Submit</button>
                  <div class="hidden"><audio id="audio_to_upload" src=""></audio></div>
            </div>
        </div>        
      </div>
    </div>
  </div>
{% endblock %}